(
    version: 1,
    goods: {
        ("alloy"): (
            id: ("alloy"),
            name: "Alloy Plate",
            base_price: 80,
            mass: 2,
            category: material,
            contraband: false,
        ),
        ("art"): (
            id: ("art"),
            name: "Artifact",
            base_price: 520,
            mass: 1,
            category: luxury,
            contraband: false,
        ),
        ("electronics"): (
            id: ("electronics"),
            name: "Electronics",
            base_price: 210,
            mass: 1,
            category: manufactured,
            contraband: false,
        ),
        ("food"): (
            id: ("food"),
            name: "Food Rations",
            base_price: 28,
            mass: 1,
            category: consumable,
            contraband: false,
        ),
        ("fuel"): (
            id: ("fuel"),
            name: "Reaction Fuel",
            base_price: 40,
            mass: 1,
            category: fuel,
            contraband: false,
        ),
        ("luxury"): (
            id: ("luxury"),
            name: "Luxury Goods",
            base_price: 340,
            mass: 1,
            category: luxury,
            contraband: false,
        ),
        ("machinery"): (
            id: ("machinery"),
            name: "Machinery",
            base_price: 260,
            mass: 4,
            category: manufactured,
            contraband: false,
        ),
        ("medicine"): (
            id: ("medicine"),
            name: "Medicine",
            base_price: 140,
            mass: 1,
            category: medical,
            contraband: false,
        ),
        ("narcotics"): (
            id: ("narcotics"),
            name: "Narcotics",
            base_price: 600,
            mass: 1,
            category: contraband,
            contraband: true,
        ),
        ("ore"): (
            id: ("ore"),
            name: "Raw Ferric Ore",
            base_price: 22,
            mass: 3,
            category: material,
            contraband: false,
        ),
        ("water"): (
            id: ("water"),
            name: "Water",
            base_price: 12,
            mass: 1,
            category: consumable,
            contraband: false,
        ),
        ("weapons"): (
            id: ("weapons"),
            name: "Arms",
            base_price: 720,
            mass: 2,
            category: contraband,
            contraband: true,
        ),
    },
)
