(inventory:(credits:0,capacity:0,cargo:{}),location:Some((system_seed:1592590337,station_id:"station-0",is_docked:true,display_name:"Station station-0",station_seed:155848725,station_kind:Some(military),station_position:(1.4765625,-1.3476563))))